<header>
    <div class="header-comp-1">
        <i class="fas fa-bars burger"></i>
        <a href="/"><img src="https://boombox.px-lab.com/animatrix/wp-content/uploads/sites/9/2016/10/animatrix-logo.png" alt=""></a>
        <ul>
            <a href="/technology"><li class="techno-li"><i class="fas fa-star"></i>TEXNOLOGIYA</li></a>
            <a href="/game"><li class="game-li"><i class="fas fa-gamepad"></i>OYUN</li></a>
            <a href="/trend"><li class="trend-li"><i class="fas fa-bolt"></i>TREND</li></a>
        </ul>
    </div>
    <div class="header-comp-2">
        <i class="fas fa-search" id="search-icon"></i>
        <div class="search-box">
            <i class="fas fa-caret-up caret-up"></i>
            <div class="cover">
                <input type="text" id="header-search">
                <button type="button" id="header-search-btn">AXTARIS ET</button>
            </div>
        </div>
        <a href="/login"><button type="button" id="dash-login-btn">Daxil Ol</button></a>
        <div class="user-profile" id="user-profile"></div>
        <div class="user-profile-modal" id="user-profile-modal" style="background: #1d1e29">
            <a href="/settings"><button type="button" id="user-profile-username"></button></a>
            <a href="/admin-panel" id="create-a"><button type="button" id="create" style="background: #d02e3e;"><i class="fas fa-plus"></i>Yarad</button></a>
            <a href="/technology"><button type="button" id="technology"><i class="fas fa-star"></i>Texnologiya</button></a>
            <a href="/game"><button type="button" id="game"><i class="fas fa-gamepad"></i>Oyun</button></a>
            <a href="/trend"><button type="button" id="trend" style="border-bottom: 1px solid grey;"><i class="fas fa-bolt"></i>Trend</button></a>
            <a href="/"><button type="button" id="home">Ana Sehife</button></a>
            <a href="/settings"><button type="button" id="user-settings">Parametrler</button></a>
            <button type="button" id="dash-logout-btn">Cixis Et</button>
        </div>
    </div>
</header>