<!-- MAIN TREND 1 -->
<div class="col-12 mb-4 p-0 d-flex flex-column flex-sm-row news-box">
    <div class="col-12 col-sm-6 p-0" style="background: #1D1E29">
        <img src="/img/artist.jpg" alt="" style="border-radius: 5px 0 0 5px;">
    </div>
    <div class="col-12 col-sm-6 py-3 px-4" style="background: #1D1E29; border-radius: 0 5px 5px 0;">
        <div class="hashtag">
            <a href="#">Senet</a>
            <a href="#">Mood</a>
        </div>
        <div class="news-header">
            <h5 id="news-header" data-name="Rasul Akhundov" data-author-image="/img/user-avatar.png" data-news-image="/img/artist.jpg" data-header-text="Techno artists & Next generation of Art" data-description-text="It will carry away you to another corner of Earth straight from your house!" data-hashtag1="Trend" data-hashtag2="Texnologiya" data-news-date="2 year ago">Techno artists & Next generation of Art</h5>
        </div>
        <div class="news-author d-flex">
            <div class="author-avatar">
                <img src="/public/img/user-avatar.png" alt="">
            </div>
            By
            <div class="author-name">
                <a href="#">Rasul Akhundov</a>
            </div>
            <div class="news-date">
                <span>1 years ago</span>
            </div>
        </div>
    </div>
</div>
<!-- MAIN TREND 2 -->
<div class="col-12 mb-4 p-0 d-flex flex-column flex-sm-row news-box">
    <div class="col-12 col-sm-6 p-0" style="background: #1D1E29">
        <img src="/img/stylish.jpg" alt="" style="border-radius: 5px 0 0 5px;">
    </div>
    <div class="col-12 col-sm-6 py-3 px-4" style="background: #1D1E29; border-radius: 0 5px 5px 0;">
        <div class="hashtag">
            <a href="#">Senet</a>
            <a href="#">Mood</a>
        </div>
        <div class="news-header">
            <h5 id="news-header" data-name="Rasul Akhundov" data-author-image="/img/user-avatar.png" data-news-image="/img/stylish.jpg" data-header-text="Most stylish techno billionaire" data-description-text="Let users create news, viral lists, personality or trivia quizzes, polls, audio, video and any type of social embeds." data-hashtag1="Trend" data-hashtag2="Texnologiya" data-news-date="2 year ago">Most stylish techno billionaire</h5>
        </div>
        <div class="news-author d-flex">
            <div class="author-avatar">
                <img src="/public/img/user-avatar.png" alt="">
            </div>
            By
            <div class="author-name">
                <a href="#">Rasul Akhundov</a>
            </div>
            <div class="news-date">
                <span>1 years ago</span>
            </div>
        </div>
    </div>
</div>
<!-- MAIN TREND 3 -->
<div class="col-12 mb-4 p-0 d-flex flex-column flex-sm-row news-box">
    <div class="col-12 col-sm-6 p-0" style="background: #1D1E29">
        <img src="/img/dance-soul.jpg" alt="" style="border-radius: 5px 0 0 5px;">
    </div>
    <div class="col-12 col-sm-6 py-3 px-4" style="background: #1D1E29; border-radius: 0 5px 5px 0;">
        <div class="hashtag">
            <a href="#">Senet</a>
            <a href="#">Mood</a>
        </div>
        <div class="news-header">
            <h5 id="news-header" data-name="Rasul Akhundov" data-author-image="/img/user-avatar.png" data-news-image="/img/dance-soul.jpg" data-header-text="Brand new TV show: Dance’n Soul" data-description-text="The Hateful Eight" data-hashtag1="Trend" data-hashtag2="Texnologiya" data-news-date="2 year ago">Brand new TV show: Dance’n Soul</h5>
        </div>
        <div class="news-author d-flex">
            <div class="author-avatar">
                <img src="/public/img/user-avatar.png" alt="">
            </div>
            By
            <div class="author-name">
                <a href="#">Rasul Akhundov</a>
            </div>
            <div class="news-date">
                <span>1 years ago</span>
            </div>
        </div>
    </div>
</div>
