<div class="menu-navigation-cover">
    <div class="menu-navigation">
        <i class="fas fa-times" id="close-menu"></i>
        <ul class="mt-4 main-section">
            <a href="/technology"><li class="techno-li"><i class="fas fa-star"></i>TEXNOLOGIYA</li></a>
            <a href="/game"><li class="game-li"><i class="fas fa-gamepad"></i>OYUN</li></a>
            <a href="/trend"><li class="trend-li"><i class="fas fa-bolt"></i>TREND</li></a>
        </ul>
        <ul class="sections_first_ul mt-2">
            <a href="/category?h=Texnologiya"><li class="sections-li" data-section-val="technology"><i class="fas fa-video"></i>Texnologiya</li></li></a>
            <a href="/category?h=Oyun"><li class="sections-li" data-section-val="game"><i class="fas fa-gamepad"></i>Oyun</li></a>
            <a href="/category?h=Mood"><li class="sections-li" data-section-val="mood"><i class="fas fa-desktop"></i>Mood</li></a>
            <a href="/category?h=Mahni"><li class="sections-li" data-section-val="music"><i class="fas fa-music"></i>Mahni</li></a>
            <a href="/category?h=Senet"><li class="sections-li" data-section-val="art"><i class="fas fa-palette"></i>Senet</li></a>
            <a href="/category?h=Trend"><li class="sections-li" data-section-val="trend"><i class="fas fa-bolt"></i>Trend</li></a>
            <a href="/category?h=Qorxu"><li class="sections-li" data-section-val="horror"><i class="fas fa-mask"></i>Qorxu</li></a>
        </ul>
        <div class="social mt-4">
            <ul>
                <li class="facebook">
                    <i class="fab fa-facebook-f"></i>
                </li>
                <li class="reddit">
                    <i class="fab fa-reddit"></i>
                </li>
                <li class="youtube">
                    <i class="fab fa-youtube"></i>
                </li>
                <li class="twitch">
                    <i class="fab fa-twitch"></i>
                </li>
                <li class="rss">
                    <i class="fas fa-rss"></i>
                </li>
            </ul>
        </div>
    </div>
</div>