<!-- Right Trend 1 -->
<div class="col-12 col-sm-6 col-lg-12 p-0 d-flex flex-column mb-3" id="right-news" >
    <div class="img" style="background-image: url('/img/artist.jpg');">
        <h2 class="number">1</h2>
    </div>
    <span>Techno artists & Next generation of Art</span>
</div>
<!-- Right Trend 2 -->
<div class="col-12 col-sm-6 col-lg-12 p-0 d-flex flex-column mb-3" id="right-news" >
    <div class="img" style="background-image: url('/img/stylish.jpg');">
        <h2 class="number">2</h2>
    </div>
    <span>Most stylish techno billionaire</span>
</div>
<!-- Right Trend 3 -->
<div class="col-12 col-sm-6 col-lg-12 p-0 d-flex flex-column" id="right-news" >
    <div class="img" style="background-image: url('/img/dance-soul.jpg');">
        <h2 class="number">3</h2>
    </div>
    <span>Brand new TV show: Dance’n Soul</span>
</div>