<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/admin-panel.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/axios.min.js"></script>
    <!-- config -->
    <script src="/js/config.js"></script>
    <script src="/fs.js/fs.js"></script>
    <script src="/js/moment-with-locales.min.js"></script>
    <script src="/js/auth.js"></script>
    <script src="/js/admin-panel.js"></script>
    <script src="/js/user.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="main-container">
        <!-- SEMANTIC POPUP  -->
        <div class="success-modal warning-modal">
            <p>Xeber ugurla yaradildi !</p>
            <i class="fas fa-times modal-close"></i>
        </div> 
        <div class="error-modal warning-modal">
            <p>Zehmet olmasa bosluqlari doldurun !</p>
            <i class="fas fa-times modal-close"></i>
        </div> 
        <!-- MODALS -->
        <div class="delete-news-modal-cover">
            <div class="delete-news-modal">
                <div class="text">
                    <span>Bu postu silmek istediyinizden eminsiniz?</span>
                </div>
                <div class="buttons">
                    <button type="button" id="delete-news-no">Xeyr</button>
                    <button type="button" id="delete-news-yes">Beli</button>
                </div>
            </div>
        </div>

        <!-- HEADER -->
        <%- include('../parts/header.ejs') -%>

        <!-- CREATE SIDE -->
        <div class="create-side my-5">
            <div class="create-side-wrap">
                <div class="create-side-header">
                    <button type="button" class="create-header-techno-button active"><i class="fas fa-plus"></i>Texnologiya</button>
                    <button type="button" class="create-header-game-button"><i class="fas fa-plus"></i>Oyun</button>
                    <button type="button" class="create-header-trend-button"><i class="fas fa-plus"></i>Trend</button>
                </div>
                <div class="create-side-body">

                    <div class="url p-2 d-flex flex-column">
                        <label for="url">Sekil: </label>
                        <input type="file" name="image" placeholder="Url" id="image">
                    </div>
                    <div class="hashtag p-2">
                        <div class="hashtag-1 d-flex flex-column">
                            <label for="hashtag-1">Hashtag-1</label>
                            <select id="hashtag-1" name="hashtag-1">
                                <option value=""></option>
                                <option value="Qorxu">Qorxu</option>
                                <option value="Oyun">Oyun</option>
                                <option value="Texnologiya">Texnologiya</option>
                                <option value="Mahni">Mahni</option>
                                <option value="Senet">Senet</option>
                                <option value="Mood">Mood</option>
                                <option value="Trend">Trend</option>
                            </select>
                        </div>
                        <div class="hashtag-2 d-flex flex-column">
                            <label for="hashtag-2">Hashtag-2</label>
                            <select id="hashtag-2" name="hashtag-2">
                                <option value=""></option>
                                <option value="Qorxu">Qorxu</option>
                                <option value="Oyun">Oyun</option>
                                <option value="Texnologiya">Texnologiya</option>
                                <option value="Mahni">Mahni</option>
                                <option value="Senet">Senet</option>
                                <option value="Mood">Mood</option>
                                <option value="Trend">Trend</option>
                            </select>
                        </div>
                    </div>
                    <div class="news-header p-2 d-flex flex-column">
                        <label for="news-header">Xeber Basliqi: </label>
                        <textarea placeholder="Xeber Basliqi" name="news-header" id="news-header-input"></textarea>
                    </div>
                    <div class="news-header p-2 d-flex flex-column">
                        <label for="news-description">Ana Xeber: </label>
                        <textarea placeholder="Ana Xeber" name="news-description" id="news-description"></textarea>
                    </div>
                    <button type="button" id="techno-news-btn">Texno Xeber Yarad</button>
                    <button type="button" id="game-news-btn">Oyun Xeber Yarad</button>
                    <button type="button" id="trend-news-btn">Trend Xeber Yarad</button>
                </div>
            </div>
        </div>

        <!-- NEWS -->
        <div class="news">
            <div class="news-search-side">
                <input type="search" placeholder="Post axtarin..." id="admin_news_search">
            </div>
            <div class="row m-0 py-5 px-3 px-lg-4 news_row">
                <!-- ALL NEWS HERE -->
            </div>
        </div>

        <!-- FOOTER -->
        <%- include('../parts/footer.ejs') -%>
    </div>
</body>
</html>