<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/admin-panel.css">
    <!-- Menu Link -->
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/axios.min.js"></script>
    <!-- marked -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/4.0.17/marked.min.js" integrity="sha512-vSD33WvMJMZwnOWxigzY4MmmUnGqY4APr91CZ4h3UTJ29AmZ8vW3WOwKycGptx7ow1f2SDYKLchv/qKnYHWI+w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- MODAL FUNCTIONS -->
    <script src="/modalFunctions-js/modalFunctions.js"></script>
    <!-- SEARCH POST -->
    <script src="/js/searchPost.js"></script>
    <!-- config -->
    <script src="/js/config.js"></script>
    <!-- Cookie import -->
    <script src="/cookie/js.cookie.min.js"></script>
    <script src="/fs.js/fs.js"></script>
    <script src="/js/moment-with-locales.min.js"></script>
    <script src="/js/auth.js"></script>
    <script src="/js/admin-panel.js"></script>
    <script src="/js/user.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="main-container">

        <!-- Scroll Up -->
        <a href="#"><div class="scroll-up">
            <i class="fas fa-arrow-up"></i>
        </div></a>

        <!-- LOADING WRAPPER -->
        <div class="loading-wrapper">
            <img src="/img/loading.gif" alt="">
        </div>

        <%- include('../parts/menu.ejs') -%>
        
        <!-- NEWS UPDATE MODAL -->
        <div class="news-update-modal-cover">
            <div class="news-update-modal">
                <img alt="" class="news-update-img">
                <div class="news-update-hashtag">
                    <select class="hashtag-1" name="hashtag-1">
                        <option value=""></option>
                        <option value="Qorxu">Qorxu</option>
                        <option value="Oyun">Oyun</option>
                        <option value="Texnologiya">Texnologiya</option>
                        <option value="Mahni">Mahni</option>
                        <option value="Senet">Senet</option>
                        <option value="Mood">Mood</option>
                        <option value="Trend">Trend</option>
                    </select>
                    <select class="hashtag-2" name="hashtag-2">
                        <option value=""></option>
                        <option value="Qorxu">Qorxu</option>
                        <option value="Oyun">Oyun</option>
                        <option value="Texnologiya">Texnologiya</option>
                        <option value="Mahni">Mahni</option>
                        <option value="Senet">Senet</option>
                        <option value="Mood">Mood</option>
                        <option value="Trend">Trend</option>
                    </select>
                </div>
                <!-- <div class="news-update-file-input">
                    <input type="file" class="news-update-img-file">
                </div> -->
                <div class="news-update-header-input">
                    <textarea class="news-update-header"></textarea>
                </div>
                <div class="news-update-description-input">
                    <textarea class="news-update-description"></textarea>
                </div>
                <div class="buttons">
                    <button type="button" id="close-edit-modal">Bagla</button>
                    <button type="button" id="edit-edit-modal">Yadda Saxla</button>
                </div>
            </div>
        </div>
        <!-- SEMANTIC POPUP  -->
        <div class="success-modal warning-modal">
            <p>Xeber ugurla yaradildi !</p>
            <i class="fas fa-times modal-close"></i>
        </div> 
        <div class="error-modal warning-modal">
            <p>Zehmet olmasa bosluqlari doldurun !</p>
            <i class="fas fa-times modal-close"></i>
        </div> 
        <!-- MODALS -->
        <div class="delete-news-modal-cover">
            <div class="delete-news-modal">
                <div class="text">
                    <span>Bu postu silmek istediyinizden eminsiniz?</span>
                </div>
                <div class="buttons">
                    <button type="button" id="delete-news-no">Xeyr</button>
                    <button type="button" id="delete-news-yes">Beli</button>
                </div>
            </div>
        </div>

        <!-- HEADER -->
        <%- include('../parts/header.ejs') -%>

        <!-- CREATE SIDE -->
        <div class="create-side my-5">
            <div class="create-side-wrap">
                <div class="create-side-body">

                    <div class="url p-2 d-flex align-items-center" style="width: 100%">
                        <div class="news-image mr-3" style="width: 100%">
                            <label for="url">Sekil: </label>
                            <input type="file" name="image" placeholder="Url" id="image">
                        </div>
                        <div class="news-category" style="width: 100%">
                            <label for="category">Category: </label>
                            <select id="news-category">
                                <option value=""></option>
                                <option value="techno">Texnologiya</option>
                                <option value="game">Oyun</option>
                                <option value="trend">Trend</option>
                            </select>
                        </div>
                    </div>
                    <div class="hashtag p-2 d-flex flex-column flex-md-row" style="width: 100%;">
                        <div class="hashtag-1 d-flex flex-column mr-3" style="width: 100%;">
                            <label for="hashtag-1">Hashtag-1</label>
                            <select id="hashtag-1" name="hashtag-1">
                                <option value=""></option>
                                <option value="Qorxu">Qorxu</option>
                                <option value="Oyun">Oyun</option>
                                <option value="Texnologiya">Texnologiya</option>
                                <option value="Mahni">Mahni</option>
                                <option value="Senet">Senet</option>
                                <option value="Mood">Mood</option>
                                <option value="Trend">Trend</option>
                            </select>
                        </div>
                        <div class="hashtag-2 d-flex flex-column" style="width: 100%;">
                            <label for="hashtag-2">Hashtag-2</label>
                            <select id="hashtag-2" name="hashtag-2">
                                <option value=""></option>
                                <option value="Qorxu">Qorxu</option>
                                <option value="Oyun">Oyun</option>
                                <option value="Texnologiya">Texnologiya</option>
                                <option value="Mahni">Mahni</option>
                                <option value="Senet">Senet</option>
                                <option value="Mood">Mood</option>
                                <option value="Trend">Trend</option>
                            </select>
                        </div>
                    </div>
                    <div class="news-iframe p-2 d-flex flex-column" style="width: 100%;">
                        <label for="iframe">Youtube Iframe</label>
                        <input type="text" placeholder="Youtube iframe link" name="iframe" id="news-iframe">
                    </div>
                    <div class="news-header p-2 d-flex flex-column" style="width: 100%;">
                        <label for="news-header">Xeber Basliqi: </label>
                        <textarea placeholder="Xeber Basliqi" name="news-header" id="news-header-input"></textarea>
                    </div>
                    <div class="news-header p-2 d-flex flex-column" style="width: 100%;">
                        <label for="news-description">Xeber Haqqinda: </label>
                        <textarea placeholder="Ana Xeber" name="news-description" id="news-description" style="min-height: 400px;"></textarea>
                    </div>
                    <button type="button" id="create-news-btn">Xeber Yarad</button>
                </div>
            </div>
        </div>

        <!-- NEWS -->
        <div class="news">
            <div class="news-search-side">
                <div class="input-cover">
                    <input type="search" placeholder="Post axtarin..." id="search" autocomplete="off">
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <span id="post-not-found">Post tapilmadi :(</span>
            <div class="row m-0 py-5 px-3 px-lg-4 news_row">
                <!-- ALL NEWS HERE -->
            </div>
        </div>

        <!-- FOOTER -->
        <%- include('../parts/footer.ejs') -%>
    </div>
</body>
</html>