<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/settings.css">
    <!-- Menu Link -->
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/axios.min.js"></script>
    <script src="/js/moment-with-locales.min.js"></script>
    <!-- MODAL FUNCTIONS -->
    <script src="/modalFunctions-js/modalFunctions.js"></script>
    <script src="/js/auth.js"></script>
    <!-- Cookie import -->
    <script src="/cookie/js.cookie.min.js"></script>
    <script src="/js/settings.js"></script>
    <script src="/js/user.js"></script>
    <script src="/js/config.js"></script>

    <title>Document</title>
</head>
<body>
    <div class="main-container">
        <!-- LOADING WRAPPER -->
        <div class="loading-wrapper">
            <img src="/img/loading.gif" alt="">
        </div>

        <%- include('../parts/menu.ejs') -%>

        <%- include('../parts/header.ejs') -%>

        <div class="settings-wrapper">
            <div class="change_image_wrapper d-flex flex-column flex-md-row align-items-center">
                <div name="image" class="image mb-4 mr-0 mr-md-4 mb-md-0" id="user_profile_image"></div>
                <div class="change_image_box d-flex flex-column">
                    <span>Profil seklini deyis max 10mb:</span>
                    <input type="file" id="image-file" class="image_file">
                    <span>Istifadeci adini deyis:</span>
                    <input type="text" id="name-change" class="name_change mb-2">
                    <span>Bioqrafia: </span>
                    <textarea id="bioqrafia"></textarea>
                </div>
            </div>
            <button type="button" id="change-btn">Yadda Saxla</button>
        </div>
    </div>
</body>
</html>