<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/techno-news.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/axios.min.js"></script>
    <!-- config -->
    <script src="/js/config.js"></script>
    <script src="/js/moment.js"></script>
    <script src="/js/auth.js"></script>
    <script src="/js/techno-news.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="main-container">
        
        <%- include('../parts/header.ejs') -%>

        <!-- TECHNO NEWS HEADER -->
        <div class="techno_news_cover">
            <div class="techno-news-header px-0 px-md-5 py-4">
                <div class="techno-news-location d-flex align-items-center px-3 mb-4">
                    <a href="/">Ana Sehife</a>
                    <i class="fas fa-angle-right"></i>
                    <span>Texnologiya</span>
                </div>
                <div class="techno-news-body d-flex flex-column flex-sm-row justify-content-between align-items-sm-center px-3">
                    <div class="news-header-text d-flex align-items-center mb-3 mb-sm-0">
                        <h2>Texnologiya</h2>
                        <i class="fas fa-star"></i>
                    </div>
                    <div class="buttons d-flex">
                        <button type="button" class="active"><i class="fas fa-star"></i>Texnologiya</button>
                        <a href="/game"><button type="button"><i class="fas fa-gamepad"></i>Oyun</button></a>
                        <a href="/trend"><button type="button"><i class="fas fa-bolt"></i>Trend</button></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- NEWS -->
        <div class="news" style="border-top: 1px solid #292c3b;">
            <div class="row m-0 py-5 px-3 px-lg-5 news_row">
                <div class="col-12 col-lg-8 p-0 px-lg-3 mb-4" id="news-wrapper">
                    <!-- ALL NEWS HERE -->
                </div>
                <div class="col-12 col-lg-4 p-0 pl-sm-3">
                    <div class="col-12 p-0 d-flex justify-content-center mb-4">
                        <img src="https://boombox.px-lab.com/animatrix/wp-content/uploads/sites/9/2016/11/300_dark.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-12 p-0 d-flex flex-column align-items-center trending-news-wrapper" id="trending-news-wrapper">
                        <div class="d-flex justify-content-center align-items-center mb-3">
                            <i class="fas fa-bolt"></i>
                            <h2>TRENDING</h2>
                        </div>
                        <!-- Right Trend -->
                        <div class="right-trend col-12 col-sm-6 col-lg-12 p-0">

                        </div>
                        <div class="social mb-4">
                            <ul>
                                <li class="facebook">
                                    <i class="fab fa-facebook-f"></i>
                                </li>
                                <li class="reddit">
                                    <i class="fab fa-reddit"></i>
                                </li>
                                <li class="youtube">
                                    <i class="fab fa-youtube"></i>
                                </li>
                                <li class="twitch">
                                    <i class="fab fa-twitch"></i>
                                </li>
                                <li class="rss">
                                    <i class="fas fa-rss"></i>
                                </li>
                            </ul>
                        </div>

                        <!-- SECTIONS -->
                        <%- include('../parts/sections.ejs') -%>
                    </div>
                </div>
            </div>
        </div>

        <!-- FOOTER -->
        <%- include('../parts/footer.ejs') -%>
    </div>
</body>
</html>