* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}
.main-container {
    width: 100%;
    min-height: 100%;
    background: #121117;
}
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #121117;
    border-bottom: 1px solid #1f1f1f;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
.header-comp-1, .header-comp-2 {
    display: flex;
    align-items: center;
}

/* Header Comp 1 */
.header-comp-1 .burger {
    width: 62px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: white;
    cursor: pointer;
}
.header-comp-1 ul {
    margin: 0 0 0 30px;
    padding: 0;
    display: flex;
}
.header-comp-1 ul li {
    list-style: none;
    font-size: 14px;
    color: white;
    margin-right: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    transition: 0.3s ease;
}
.header-comp-1 ul li:hover {
    color: #D02E3E;
}
.header-comp-1 ul li i {
    font-size: 18px;
    margin-right: 5px;
}
.header-comp-1 ul a {
    text-decoration: none;
}

/* Header comp 2 */
.header-comp-2 i {
    font-size: 22px;
    color: white;
    cursor: pointer;
}
.header-comp-2 a {
    text-decoration: none;
}
.header-comp-2 #dash-login-btn {
    padding: 8px 10px;
    font-size: 16px;
    color: white;
    background: #D02E3E;
    display: none;
    border: 0;
    margin: 0 15px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    outline: none;
    transition: 0.3s ease;
}
.header-comp-2 .user-profile {
    background: url('https://healthcarejobs.ae/assets/img/user-avatar.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 0 15px;
    border: 2px solid white;
    cursor: pointer;
    transition: 0.3s ease;
}
.header-comp-2 .user-profile:hover {
    border: 2px solid #D02E3E;
}
.header-comp-2 .user-profile-modal {
    position: fixed;
    top: 62px;
    right: 20px;
    display: none;
    max-width: 200px;
    flex-direction: column;
    background: #121117;
    z-index: 9;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #292c3b;
}
.user-profile-modal span {
    color: white;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid grey;
}
.user-profile-modal a {
    text-decoration: none;
}
.user-profile-modal button {
    padding: 8px 10px;
    font-size: 14px;
    width: 100%;
    color: white;
    background: transparent;
    align-items: center;
    border: 0;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    outline: none;
    text-align: left;
    transition: 0.3s ease;
}
#user-profile-username {
    border-bottom: 1px solid grey !important;
}
.user-profile-modal button:hover {
    background: rgb(40, 42, 56);
}
.user-profile-modal #dash-logout-btn {
    background: #D02E3E;
    border-radius: 0 0 3px 3px;
}
.user-profile-modal i {
    font-size: 16px;
    margin-right: 5px;
}

/* TRENDING LAYOUT */
.trending-layout {
    flex: 1;
    margin-top: 62px;
}
.trend-wrap-1, .trend-wrap-2 {
    display: flex;
}
/* TREND NEWS VIEW */
.trend-views i, .trend-views span {
    font-size: 14px;
    color: #efefef;
}
.trend {
    flex: 1;
    padding: 15px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}
.trend-emoji {
    display: flex;
}
.trend-emoji .emoji-box {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: yellow;
}
.emoji-box img {
    width: 40px;
}
.emoji-1 {
    margin-right: 7px;
}
.emoji-1-img:hover .emoji-1 {
    margin-top: 5px;
    transition: 0.3s ease;
}
.trend-1, .trend-2 {
    height: 500px;
}
.trend-3, .trend-4, .trend-5 {
    height: 300px;
}
.trend-1 .trend-info h5, .trend-2 .trend-info h5 {
    font-size: 28px;
}
.trend-info {
    transition: 0.3s ease;
}
.trend:hover .trend-info {
    margin-bottom: 10px;
}
.trend-info h5 {
    font-size: 22px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Rajdhani', sans-serif;
    transition: 0.3s ease;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.trend-info h5:hover {
    color: #D02E3E;
}
.trend-author {
    display: flex;
    align-items: center;
}
.trend-info p {
    font-size: 14px;
    color: silver;
    font-weight: 100;
    margin: 0 10px 0 0;
}
.trend-info a {
    font-size: 14px;
    color: white;
    font-weight: 100;
}

/* NEWS */
.news {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.news_row {
    width: 1240px;
}
.news-box .col-12:first-child {
    border-radius: 5px 0 0 5px;
}
.news-box .col-12:last-child {
    border-radius: 0 5px 5px 0;
}
.news-box img {
    width: 100%;
    height: 200px;
    cursor: pointer;
}
.news-box .hashtag {
    margin-bottom: 5px;
}
.news-box .hashtag a {
    font-size: 14px;
    color: #8c8d8f !important;
    font-weight: 400;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.news-box .news-header {
    border-bottom: 1px solid #292c3b;
}
.news-box .news-header h5 {
    font-size: 26px;
    font-family: 'Rajdhani', sans-serif;
    color: white;
    font-weight: bold;
    transition: 0.3s ease;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.news-box .news-header h5:hover {
    color: #D02E3E;
}
.news-box .news-author {
    padding: 10px 0;
    align-items: center;
    color: #8c8d8f;
    font-size: 12px;
}
.news-author .author-avatar {
    margin-right: 5px;
}
.news-author .author-avatar img {
    width: 35px;
    height: 35px;
    border-radius: 50px;
}
.news-author .author-name a {
    font-size: 12px;
    color: white;
    font-weight: 400;
    margin: 0 5px;
}
#news-wrapper-cover {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.news-img-box {
    position: relative;
}
.news-emoji {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
}
.news-emoji .emoji-box {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: yellow;
}
.emoji-box img {
    width: 40px;
    height: 40px;
}
.emoji-1 {
    margin-right: 7px;
}
.emoji-1-img:hover .emoji-1 {
    margin-top: 5px;
    transition: 0.3s ease;
}
/* NEWS VIEW COUNT */
.news-view-count {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 0 7px;
    border-radius: 50px;
    background: #28282880;
    display: flex;
    align-items: center;
}
.news-view-count i {
    font-size: 14px;
    color: #efefef;
    margin-right: 5px;
}
.news-view-count span {
    font-size: 14px;
    color: #efefef;
}
/* NEWS LOAD MORE BUTTON */
.load-more-btn {
    padding: 5px 30px;
    background: transparent;
    border: 5px solid #292c3b;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    color: #efefef;
    outline: none !important;
    transition: 0.3s ease;
}
.load-more-btn:hover {
    border: 5px solid #D02E3E;
}
.load-more-btn-img {
    width: 30px;
    height: 30px;
    display: none;
}

/* TRENDING NEWS WRAPPER */
.trending-news-wrapper {
    cursor: pointer;
}
.trending-news-wrapper i {
    font-size: 32px;
    color: #D02E3E;
    margin-right: 10px;
}
.trending-news-wrapper h2 {
    font-size: 18px;
    color: white;
    margin: 0;
    font-weight: 100;
}
.trending-news-wrapper .img {
    width: 100%;
    height: 175px;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.trending-news-wrapper .number {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 18px;
    color: white;
    font-weight: bold;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background: #D02E3E;
}
.trending-news-wrapper span {
    font-size: 16px;
    font-weight: bold;
    color: #efefef;
    font-family: 'Rajdhani', sans-serif;
    padding: 5px;
    transition: 0.3s ease;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.trending-news-wrapper span:hover {
    color: #D02E3E;
}

/* SOCIAL */
.social ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.social ul li {
    list-style: none;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin: 0 5px 5px;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social ul li i {
    font-size: 26px;
    color: white;
    margin: 0;
}
.social .facebook {
    background: #2d5f9a;
}
.social .reddit {
    background: #ff4500;
}
.social .youtube {
    background: #bb0000;
}
.social .twitch {
    background: #4441a4;
}
.social .rss {
    background: #1f1f1f;
}

/* SECTIONS */
.sections .sections_first_ul {
    padding: 0;
}
.sections .sections_span {
    font-size: 16px;
    color: grey;
    padding: 0;
    width: 100%;
}
.sections a {
    text-decoration: none;
    color: #efefef;
}
.sections ul li {
    padding: 10px 10px 10px 0;
    list-style: none;
    font-size: 17px;
    color: #efefef;
}
.sections i {
    font-size: 22px;
}
.sections .sections_second_ul {
    padding-left: 25px;
}
.sections .sections_second_ul li {
    display: flex;
    align-items: center;
}
.sections .sections_second_ul i {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    font-size: 18px;
    background: #292c3b;
    color: #efefef;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* FOOTER */
footer {
    width: 100%;
    background: url('/img/footer.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
footer .footer-logo-img {
    margin-bottom: 30px;
}
footer span {
    font-size: 17px;
    color: #efefef;
    font-weight: 200;
}
footer h5 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
    color: #efefef;
    font-weight: 400;
}
footer .footer-footer {
    width: 100%;
    background: #121013;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-footer ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
.footer-footer ul li {
    list-style: none;
    color: #efefef;
    font-size: 14px;
    font-weight: 400;
    margin-right: 10px;
    cursor: pointer;
}
.footer-footer span {
    color: #efefef;
    font-size: 14px;
    font-weight: 400;
}

@media screen and (max-width: 1400px) {
    /* NEWS */
    .news_row {
        width: 100%;
    }
    /* TRENDING */
    .trend-1, .trend-2 {
        height: 375px;
    }
    .trend-3, .trend-4, .trend-5 {
        height: 225px;
    }
    /* TRENDING NEWS WRAPPER */
    .trending-news-wrapper .img {
        height: 185px;
    }
}
@media screen and (max-width: 987px) {
    .trend-wrap-2 {
        flex-direction: column;
        height: 750px;
    }
}
@media screen and (max-width: 768px) {
    .trend-wrap-1 {
        height: 500px;
        flex-direction: column;
    }
    .trend-1 .trend-info h5, .trend-2 .trend-info h5 {
        font-size: 22px;
    }
    .header-comp-1 img {
        width: 150px;
    }
    .header-comp-1 ul {
        display: none;
    }
    .news-box .col-12:nth-child(1) img {
        border-radius: 5px 5px 0 0 !important;
    }
    .news-box .col-12:nth-child(2){
        border-radius: 0 0 5px 5px !important;
    }
    .header-comp-2 .user-profile-modal {
        right: 5px;
    }
}