* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}
.main-container {
    width: 100%;
    min-height: 100%;
    background: #121117;
}
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #121117;
    border-bottom: 1px solid #292c3b;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
.header-comp-1, .header-comp-2 {
    display: flex;
    align-items: center;
}

/* Header Comp 1 */
.header-comp-1 .burger {
    width: 62px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: white;
    cursor: pointer;
}
.header-comp-1 ul {
    margin: 0 0 0 30px;
    padding: 0;
    display: flex;
}
.header-comp-1 ul li {
    list-style: none;
    font-size: 14px;
    color: white;
    margin-right: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    transition: 0.3s ease;
}
.header-comp-1 ul li:hover {
    color: #D02E3E;
}
.header-comp-1 ul li i {
    font-size: 18px;
    margin-right: 5px;
}
.header-comp-1 ul a {
    text-decoration: none;
}

/* Header comp 2 */
.header-comp-2 i {
    font-size: 22px;
    color: white;
    cursor: pointer;
}
.header-comp-2 #dash-login-btn {
    padding: 8px 10px;
    font-size: 16px;
    color: white;
    background: #D02E3E;
    border: 0;
    margin: 0 15px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    outline: none;
    transition: 0.3s ease;
}
.header-comp-2 .user-profile {
    background: url('https://healthcarejobs.ae/assets/img/user-avatar.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 0 15px;
    border: 2px solid white;
    cursor: pointer;
    transition: 0.3s ease;
}
.header-comp-2 .user-profile:hover {
    border: 2px solid #D02E3E;
}
.header-comp-2 .user-profile-modal {
    position: fixed;
    top: 62px;
    right: 20px;
    display: none;
    max-width: 200px;
    flex-direction: column;
    background: #121117;
    z-index: 9999999999;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #292c3b;
}
.user-profile-modal span {
    color: white;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid grey;
}
.user-profile-modal a {
    text-decoration: none;
}
.user-profile-modal button {
    padding: 8px 10px;
    font-size: 14px;
    width: 100%;
    color: white;
    background: transparent;
    align-items: center;
    border: 0;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    outline: none;
    text-align: left;
    transition: 0.3s ease;
}
#user-profile-username {
    border-bottom: 1px solid grey !important;
}
.user-profile-modal button:hover {
    background: rgb(40, 42, 56);
}
.user-profile-modal #dash-logout-btn {
    background: #D02E3E;
    border-radius: 0 0 3px 3px;
}
.user-profile-modal i {
    font-size: 16px;
    margin-right: 5px;
}

/* TECHNO NEWS HEADER */
.most_viewed_cover {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #292c3b;
}
.most-viewed-header {
    margin-top: 62px;
    width: 1250px;
}
.most-viewed-location a, .most-viewed-location span {
    color: #8c8d8f;
    font-size: 14px;
    font-weight: 400;
}
.most-viewed-location i {
    color: #717274;
    font-size: 20px;
    margin: 0 10px;
}
.most-viewed-text h2 {
    font-size: 42px;
    letter-spacing: 1px;
    font-weight: 700;
    color: #efefef;
    margin: 0 5px 0 0;
}
.most-viewed-text .most-viewed-circle {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #6759EB;
}
.category_select {
    border: 2px solid #292c3b;
    border-radius: 3px;
    min-width: 200px;
    position: relative;
    z-index: 9;
}
.category_option_header {
    padding: 7px 10px;
    background: transparent;
    border-radius: 3px;
    text-align: left;
}
.category_select span {
    font-size: 13px;
    color: #efefef;
    margin-right: 15px;
}
.category_select i {
    font-size: 14px;
    color: #efefef;
}
.category_options {
    display: none;
}
.category_options a {
    text-decoration: none;
}
.category_option {
    padding: 7px 10px;
    border-bottom: 1px solid #292c3b;
    background: #1d1e29;
    cursor: pointer;
}
.category_option span {
    cursor: pointer;
}

/* MORE FROM HASHTAG */
.category-news {
    width: 100%;
    display: flex;
    justify-content: center;
}
#category-news-row {
    width: 1250px;
}
.more-from #more-from-header {
    color: #efefef;
    font-weight: 700;
    font-size: 16px;
}
.full-news-box .col-12:first-child img {
    border-radius: 5px 5px 0 0;
}
.full-news-box .col-12:last-child {
    border-radius: 0 0 5px 5px;
}
.full-news-box img {
    width: 100%;
    height: 200px;
    cursor: pointer;
}
.full-news-box .full-news-hashtag {
    margin-bottom: 5px;
}
.full-news-box .full-news-hashtag a {
    font-size: 14px;
    color: #8c8d8f;
    font-weight: 400;
}
.full-news-box .full-news-header h5 {
    font-size: 26px;
    font-family: 'Rajdhani', sans-serif;
    color: white;
    font-weight: bold;
    transition: 0.3s ease;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.full-news-box .full-news-description {
    border-bottom: 1px solid #292c3b;
    padding-bottom: 10px;
}
.full-news-box .full-news-description span {
    font-size: 15px;
    font-weight: 400;
    color: #8c8d8f;
}
.full-news-box .full-news-header h5:hover {
    color: #D02E3E;
}
.full-news-box .full-news-author {
    padding: 10px 0;
    align-items: center;
    color: #8c8d8f;
    font-size: 12px;
}
.full-news-author .author-avatar {
    margin-right: 5px;
}
.full-news-author .author-avatar img {
    width: 35px;
    height: 35px;
    border-radius: 50px;
}
.full-news-author .author-name a {
    font-size: 12px;
    color: white;
    font-weight: 400;
    margin: 0 5px;
}
.more-from {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.full-news-img-box {
    position: relative;
}
.full-news-emoji {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
}
.full-news-emoji .emoji-box {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: yellow;
}
.emoji-box img {
    width: 40px;
    height: 40px;
}
.emoji-1 {
    margin-right: 7px;
}
.emoji-1-img:hover .emoji-1 {
    margin-top: 5px;
    transition: 0.3s ease;
}
/* NEWS VIEW COUNT */
.full-news-view-count {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 0 7px;
    border-radius: 50px;
    background: #28282880;
    display: flex;
    align-items: center;
}
.full-news-view-count i {
    font-size: 14px;
    color: #efefef;
    margin-right: 5px;
}
.full-news-view-count span {
    font-size: 14px;
    color: #efefef;
}

@media screen and (max-width: 1400px) {
    .most-viewed-header, #category-news-row {
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .header-comp-1 img {
        width: 150px;
    }
    .header-comp-1 ul {
        display: none;
    }
    .header-comp-2 .user-profile-modal {
        right: 5px;
    }
}