* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}
.main-container {
    width: 100%;
    min-height: 100%;
    background: #121117;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #121117;
    border-bottom: 1px solid #1f1f1f;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
.header-comp-1, .header-comp-2 {
    display: flex;
    align-items: center;
}

/* Header Comp 1 */
.header-comp-1 .burger {
    width: 62px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: white;
    cursor: pointer;
}
.header-comp-1 ul {
    margin: 0 0 0 30px;
    padding: 0;
    display: flex;
}
.header-comp-1 ul li {
    list-style: none;
    font-size: 14px;
    color: white;
    margin-right: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    transition: 0.3s ease;
}
.header-comp-1 ul li:hover {
    color: #D02E3E;
}
.header-comp-1 ul li i {
    font-size: 18px;
    margin-right: 5px;
}
.header-comp-1 ul a {
    text-decoration: none;
}

/* Header comp 2 */
.search-box {
    position: absolute;
    top: 52px;
    right: 65px;
    background: #1D1E29;
    padding: 12px;
    display: none;
    border-radius: 5px;
}
.search-box .cover {
    width: 100%;
    display: flex;
    justify-content: center;
}
.search-box .caret-up {
    position: absolute;
    top: -14px;
    right: 20px;
    color: #1D1E29;
}
.search-box input {
    padding: 8px 12px;
    background: transparent;
    border: 2px solid #292c3b;
    color: #efefef;
    font-size: 14px;
    margin-right: 5px;
    border-radius: 3px;
    height: 34px;
    outline: none;
}
.search-box button {
    padding: 12px;
    border-radius: 3px;
    border: 0;
    background: #D02E3E;
    color: #efefef;
    font-size: 14px;
    font-weight: 600;
    outline: none;
    line-height: 10px;
    height: 34px;
}
.header-comp-2 i {
    font-size: 22px;
    color: white;
    cursor: pointer;
}
.header-comp-2 a {
    text-decoration: none;
}
.header-comp-2 #dash-login-btn {
    padding: 8px 10px;
    font-size: 16px;
    color: white;
    background: #D02E3E;
    display: none;
    border: 0;
    margin: 0 15px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    outline: none;
    transition: 0.3s ease;
}
.header-comp-2 .user-profile {
    background: url('https://healthcarejobs.ae/assets/img/user-avatar.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 0 15px;
    border: 2px solid white;
    cursor: pointer;
    transition: 0.3s ease;
}
.header-comp-2 .user-profile:hover {
    border: 2px solid #D02E3E;
}
.header-comp-2 .user-profile-modal {
    position: fixed;
    top: 62px;
    right: 20px;
    display: none;
    max-width: 200px;
    flex-direction: column;
    background: #121117;
    z-index: 9;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #292c3b;
}
.user-profile-modal span {
    color: white;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid grey;
}
.user-profile-modal a {
    text-decoration: none;
}
.user-profile-modal button {
    padding: 8px 10px;
    font-size: 14px;
    width: 100%;
    color: white;
    background: transparent;
    align-items: center;
    border: 0;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    outline: none;
    text-align: left;
    transition: 0.3s ease;
}
#user-profile-username {
    border-bottom: 1px solid grey !important;
}
.user-profile-modal button:hover {
    background: rgb(40, 42, 56);
}
.user-profile-modal #dash-logout-btn {
    background: #D02E3E;
    border-radius: 0 0 3px 3px;
}
.user-profile-modal i {
    font-size: 16px;
    margin-right: 5px;
}

/* NEWS SEARCH SIDE */
.search-result-side {
    width: 1240px;
    min-height: 100vh;
    padding: 50px;
}
.search-result-side .search-text {
    width: 100%;
    border-bottom: 1px solid #292c3b;
    margin-bottom: 50px;
}
.search-text h2, .not-found-msg h2 {
    color: #efefef;
    font-size: 40px;
    font-weight: 600;
    margin: 0;
}
.search-result-side .news-col-cover .col-12 {
    background: #1D1E29;
}
.search-result-side .news-info {
    width: 100%;
}
.search-result-side .row .search-news-img {
    min-width: 150px !important;
    height: 150px;
    background: url('/img/artist.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
}
.search-result-side .hashtag {
    font-size: 13px;
    margin-bottom: 5px;
}
.search-result-side .hashtag a {
    font-size: 13px;
    font-weight: 400;
    color: #8c8d8f;
    margin-right: 5px;
}
.search-result-side .news-header h5 {
    font-size: 18px;
    font-family: 'Rajdhani', sans-serif;
    color: white;
    font-weight: bold;
    margin-bottom: 3px;
    transition: 0.3s ease;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.search-result-side .news-header h5:hover {
    color: #D02E3E;
}
.search-result-side .news-description {
    border-bottom: 1px solid #292c3b;
    padding-bottom: 10px;
}
.search-result-side .news-description span {
    font-size: 15px;
    font-weight: 400;
    color: #8c8d8f;
}
.search-result-side .news-author {
    padding: 10px 0;
    align-items: center;
    color: #8c8d8f;
    font-size: 12px;
}
.news-author .author-avatar {
    margin-right: 5px;
}
.news-author .author-avatar img {
    width: 26px;
    height: 26px;
    border-radius: 50px;
}
.news-author .author-name a {
    font-size: 12px;
    color: white;
    font-weight: 400;
    margin: 0 5px;
}
/* NEWS EMOJI */
.search-result-side .search-news-img {
    position: relative;
}
.news-emoji {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
}
.news-emoji .emoji-box {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: yellow;
}
.emoji-box img {
    width: 40px;
    height: 40px;
}
.emoji-1 {
    margin-right: 7px;
}
.emoji-1-img:hover .emoji-1 {
    margin-top: 5px;
    transition: 0.3s ease;
}
/* NEWS VIEW COUNT */
.news-view-count {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 0 7px;
    border-radius: 50px;
    background: #28282880;
    display: flex;
    align-items: center;
}
.news-view-count i {
    font-size: 14px;
    color: #efefef;
    margin-right: 5px;
}
.news-view-count span {
    font-size: 14px;
    color: #efefef;
}

/* PAGINATION */
.pagination-box {
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
}
.pagination-box .previous-btn, .pagination-box .next-btn {
    padding: 10px 15px;
    background: #D02E3E;
    border: 0;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
    outline: none;
}
.previous-btn i {
    margin-right: 10px;
}
.next-btn i {
    margin-left: 10px;
}
.pagination-box .pagination-number {
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    margin: 5px;
    background: transparent;
    border: 0;
    border-radius: 3px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    outline: none;
    transition: 0.3s ease;
}
.pagination-box .pagination-number:hover {
    background: #292c3b;
}
.pagination-box .second-pagination-number {
    margin: 0;
}
.pagination-box .active {
    background: #292c3b;
}
.disable {
    display: none;
}

/* FOOTER */
footer {
    width: 100%;
    background: url('/img/footer.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
footer .footer-logo-img {
    margin-bottom: 30px;
}
footer span {
    font-size: 17px;
    color: #efefef;
    font-weight: 200;
}
footer h5 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
    color: #efefef;
    font-weight: 400;
}
footer .footer-footer {
    width: 100%;
    background: #121013;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-footer ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
.footer-footer ul li {
    list-style: none;
    color: #efefef;
    font-size: 14px;
    font-weight: 400;
    margin-right: 10px;
    cursor: pointer;
}
.footer-footer span {
    color: #efefef;
    font-size: 14px;
    font-weight: 400;
}

@media screen and (max-width: 1400px) {
    /* NEWS */
    .search-result-side {
        width: 100%;
    }
}
@media screen and (max-width: 978px) {
    .search-result-side {
        padding: 50px 15px 50px;
    }
}
@media screen and (max-width: 768px) {
    .header-comp-1 img {
        width: 150px;
    }
    .header-comp-1 ul {
        display: none;
    }
    .header-comp-2 .user-profile-modal {
        right: 5px;
    }
}
@media screen and (max-width: 700px) {
    .news-description, .news-author {
        display: none !important;
    }
    .search-text h2, .not-found-msg h2 {
        font-size: 26px !important;
    }
}
@media screen and (max-width: 500px) {
    .search-box .cover {
        flex-direction: column;
    }
    .search-box input {
        width: 200px;
        margin: 0 0 10px 0;
    }
    .pagination-box .previous-btn, .pagination-box .next-btn {
        padding: 8px 10px;
    }
    .previous-btn i {
        margin-right: 5px;
    }
    .next-btn i {
        margin-left: 5px;
    }
}